.system-alert {
    position: fixed;
    right: 0px;
    width: 250px;
    top: 25%;
    z-index: 9999;
}

.btn {
    border-radius: 0px;
}

.pt-10 {
    padding-top: 10px;
}
.mt-10 {
    margin-top: 10px;
}

.d-flex {
    display: flex;
}

.no-border-radius {
    border-radius: 0px;
}

.table-thuoc .form-group {
    /* margin-top: -20px; */
    margin-bottom: 0;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid #000;
    margin-bottom: 10px;
}

legend {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    width: auto;
    margin-bottom: 5px;
    font-size: 16px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 4px 10px;
    vertical-align: middle;
}